.results {
  padding: 3px;
  display: inline-block;
  height: 10vh;
  min-width: 40vw;
  border-style: solid;
  border-width: 1px;
  border-radius : 3px;
  border-color: grey;
  font-weight: bold;
}

.final {
  color: black;
  font-weight: normal;
}

.interim {
  color: darkgrey;
}
.left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin: 10px;
}
.speech-recognition{
  margin-top: 10px;
}
div#editor {
  width: 300px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-content{
  margin-right: 10px;
  width: 300px;
}
.cart-content {
  margin: 10px 0;
  height: calc(100% - 20px);
}
.normal-btn{
  width: 180px;
}
.shopping-list{
  width: 100%;
  height: 100%;
}
.bottom-container {
  display: flex;
}
.top-container{
  display: flex;
  width: 620px;
}
.top-container{
  .card-content{
    margin: 10px 5px 0px 5px;
    width: 100%;
  }
}
.add-btn{
  margin-top: 5px;
}
