<div class="main-container">
    <div class="top-container">
        <mat-card class="card-content">
            <button class="normal-btn" mat-flat-button color="primary" [disabled]="started" (click)="start()">Nasłuchuj</button>
            <button class="normal-btn" mat-flat-button color="warn" [disabled]="!started" (click)="stop()">Przerwij nasłuchiwanie</button>
            <mat-card class="speech-recognition">
                Wypowiedziana fraza: {{message}}
            </mat-card>
            <button class="add-btn" [disabled]="message === ''" mat-mini-fab (click)="addToList(message)">+</button>
        </mat-card>
    </div>
    <div class="bottom-container">
        <div class="left-content">
            <mat-card class="card-content">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Tekst do przetłumaczenia" [(ngModel)]="text">
                </mat-form-field>
                <button class="normal-btn" [disabled]="text === ''" mat-flat-button color="warn" (click)="translate(text)">Tłumacz</button>
                <button class="add-btn" [disabled]="text === ''" mat-mini-fab (click)="addToList(text)">+</button>
            </mat-card>
            <mat-card class="card-content">
                <div style="text-align:center">
                    <div id="editor" #tref></div>
                </div>
                <button class="add-btn" mat-mini-fab (click)="convert()">+</button>
            </mat-card>
        </div>
        <div class="right-content">
            <mat-card class="cart-content">
                <mat-form-field class="shopping-list">
                    <mat-chip-list #chipList aria-label="Lista zakupów">
                        <mat-chip *ngFor="let product of products" [selectable]="selectable"
                                  [removable]="removable" (removed)="remove(product)">
                            {{product.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Lista zakupów"
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </mat-card>
        </div>
    </div>
</div>


